/* Footer.css */

.footer {
    background-color: #282c34;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
